body {
    background: #ccc;
    font: 14px 'Titillium Web';
    font-size: 14px;
}

a {
    color: #444;
}

header {
    text-align: center;
    text-transform: uppercase;
}

.uploaded {
    background: #ddd;
    border: 1px solid #666;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #444;
    color: #333;
    margin: 2em 30%;
    padding: 2em 1em;
    text-align: center;
}

#dropzone {
    background: #aaa;
    border: 1px solid #666;
    border-radius: 10px;
    box-shadow: inset 0 0 15px #444;
    color: #333;
    text-align: center;
}

#dropzone {
    margin: 2em 20%;
    padding: 4em 2em;
}

section#dropzone h2 {
    text-transform: uppercase;
    margin: 0;
}

footer {
    font-size: 80%;
    opacity: 0.5;
    text-align: center;
}

#dropzone.drag {
    background: #888;
}

@media(max-width:500px) {

    section#dropzone {
        margin: 2em 5%;
        padding: 4em 2em;
    }

}
