<!DOCTYPE html>
<html>
    <head>
        <title>datapipe</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            <h1 class="logo">datapipe</h1>
        </header>
        <section class="pay">
            <form action="/charge" method="post">
                <label>
                    <b>Domain</b>
                    <div><input type="text" name="domain" required placeholder="http://omg.org"></div>
                </label>
                <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                      data-key="{{ stripePK }}"></script>
            </form>
        </section>
        <footer>
            Made by <a href="http://github.com/cvan">cvan</a>, <a href="http://github.com/mattbasta">mattbasta</a>, <a href="http://github.com/potch">potch</a>
        </footer>

        <script type="text/javascript" src="//use.typekit.net/kwe1wqx.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min.js"></script>
        <script type="text/javascript">
            (function() {
                function checkValid(form) {
                    if (form) {
                        var button = $(form).find('button');
                        if (form.checkValidity()) {
                            button.removeClass('disabled').removeAttr('disabled');
                        } else {
                            button.addClass('disabled').attr('disabled', '');
                        }
                    }
                }
                $(document).on('change keyup paste', 'input, select, textarea', function(e) {
                    checkValid(e.target.form);
                });
                $('form').each(function() {
                    checkValid(this);
                });
            })();
        </script>
    </body>
</html>
