<!DOCTYPE html>
<html>
    <head>
        <title>datapipe</title>
        <meta charset="utf-8">
        <meta name="robots" content="noarchive">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            <h1 class="logo">datapipe</h1>
        </header>
        <section class="pay">
            <form action="/charge" method="post">
                <label>
                    <b>Domain</b>
                    <div><input type="text" name="domain" required placeholder="http://omg.org"></div>
                </label>
                <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                      data-key="{{ stripePK }}"></script>
            </form>
            <p><a href="javascript:" class="view-ajax-wrapper button">See jQuery/zepto <code>$.ajax</code> wrapper</a></p>
            <!-- Workaround for https://github.com/madrobby/zepto/issues/499 -->
            <pre class="ajax-wrapper"><code>// This modified $.ajax function lets you write
//     $.get('https://github.com/')
// instead of
//     $.get('http://www.datapi.pe/url/?https://github.com/')

$.ajaxSettings.url_ = 'http://www.datapi.pe/url/?';
$.ajax_ = $.ajax;
$.ajax = function(options) {
    var settings = $.extend({}, options || {});
    if (settings.url !== undefined &&
        (settings.url.substr(0, 5) == 'http:' ||
         settings.url.substr(0, 6) == 'https:')) {
        settings.url = $.ajaxSettings.url_ + settings.url;
    }
    return $.ajax_(settings);
};</code></pre>
        </section>
        <footer>
            Made by <a href="https://github.com/cvan">cvan</a>, <a href="https://github.com/mattbasta">mattbasta</a>, <a href="https://github.com/potch">potch</a>
        </footer>

        <script type="text/javascript" src="//use.typekit.net/kwe1wqx.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min.js"></script>
        <script type="text/javascript">
            (function() {
                function checkValid(form) {
                    if (form) {
                        var button = $(form).find('button');
                        if (form.checkValidity()) {
                            button.removeClass('disabled').removeAttr('disabled');
                        } else {
                            button.addClass('disabled').attr('disabled', '');
                        }
                    }
                }
                $(document).on('change keyup paste', 'input, select, textarea', function(e) {
                    checkValid(e.target.form);
                }).on('click', '.view-ajax-wrapper', function() {
                    $('.ajax-wrapper').toggle();
                });
                $('form').each(function() {
                    checkValid(this);
                });

                $.ajaxSettings.url_ = 'http://www.datapi.pe/url/?';
                $.ajax_ = $.ajax;
                $.ajax = function(options) {
                    var settings = $.extend({}, options || {});
                    if (settings.url !== undefined &&
                        (settings.url.substr(0, 5) == 'http:' ||
                         settings.url.substr(0, 6) == 'https:')) {
                        settings.url = $.ajaxSettings.url_ + settings.url;
                    }
                    return $.ajax_(settings);
                };
            })();
        </script>
    </body>
</html>
