<!DOCTYPE html>
<html>
<head>
  <title>datapipe</title>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<header>
  <h1>Extensive Enterprises</h1>
</header>
<section id="dropzone">
  <h2>Drop Files Here</h2>
  <p>Drop your files here to send them to the crimson twins.</p>
</section>
<footer>
  Made by <a href="http://mattbasta.com/">Matt Basta</a>
</footer>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/script.js"></script>

</body>
</html>
